.cart{
    position: sticky;
    top: 0;
}

.spend-time{
    height: 80px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
}
.spend-time h3{
    font-weight: 700;
    font-size: 20px;
    color: #6047EC;
    padding-left: 25PX;
}

.bookmarked{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}

.bookmarked h4{
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    margin-left: 30px;
    padding-top: 30px;
}
.bookmarked-blog{
    width: 351px;
    margin-left: 10px;
}
.bookmarked-blog .blog-title{
    padding-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px #aaaaaa;
    border-radius: 8px;
    padding-left: 13px;
    padding-bottom: 15px;
}


/* responsive  */
@media only screen and (max-width: 576px) {
    .cart{
        width: 100%;
    }
    .spend-time{
        height: 80px;
        background: rgba(96, 71, 236, 0.1);
        border: 1px solid #6047EC;
        border-radius: 8px;
        width: 100%;
    }
    
  }