.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav.header h2{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 12px;
}
nav.header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-top: 5px;
}
