.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav.header h2{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 12px;
}
nav.header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-top: 5px;
}

/* responsive  */
@media only screen and (max-width: 576px) {
    .header{
        margin-top: 30px;
    }
    
  }