.blogs-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 40px;
    gap: 24px;
}
.single-blog-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 45px;
}

/* responsive  */
@media only screen and (max-width: 900px) {
    .blogs-container {
      grid: none;
      width: 100%;
    }
  }